<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>关于</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
### 关于Docker社区
DockerClub 社区为国内最专业的 Docker 开源技术社区，致力于Docker及Docker衍生的技术 的技术研究。

DockerClub 社区由一批热爱 Docker虚拟化技术的工程师发起，目前已经吸引了互联网各个公司的专业技术人员加入，我们非常欢迎更多对 Docker 感兴趣的朋友。

Docker目前有一个社区和一个专刊博客组成，社区为更多的热爱Docker技术的工程师提供一个交流的渠道，而专刊博客我们会定期邀请一些业内的Docker专家、大牛
在专栏发布一些前沿技术，同时我们也将会收集更多好得博文呈现给大家。

社区目前由 [@cncodog](http://dockerclub.org/user/cncodog) 在维护，有问题请联系：[https://github.com/cncodog](https://github.com/cncodog)

请关注我们的官方微博：http://weibo.com/dockerclub

### 关于博客专栏

专栏是由ghost（http://ghost.com)开源博客平台所搭建，专栏是一个开放的博客社区，如果你也对docker非常热爱和精通，欢迎加入我们并投稿

专栏加入请<a href="mailto:blog@dockerclub.net">@BLOG专栏</a>

### 感谢
 感谢cnodejs社区（https://cnodejs.org）,社区问答部分源自cnodejs的clone，非常感谢cnodejs社区提供非常棒的产品！
 感谢ghost（http://ghost.com)和ghostchina（http://ghostchina.com),社区的专栏部分来自ghost中文版本。

*/
        })) %>
      </div>
    </div>
  </div>
</div>
